// copy to Env.mc and fill in with real values
module Env {
	const NestClientId = "nest api client id";
	const NestClientSecret = "nest api client secret";
	const NestApiProxyURI = "deployed /api root uri of https://github.com/blaskovicz/garmin-nest-api-proxy (eg: https://someapp.heroku.com/api)";
}

// vi:syntax=javascript filetype=javascript